<!doctype html>
<html>
  <head>
    <title>Turing Widget Host Page: Form POST</title>
    <link rel="stylesheet" href="http://localhost:53473/css/form.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>