<div class="turing-widget">
  <form>

    Thanks <%= @thanks["name"] %> <<%= @thanks["email"] %>> for your comments.

    <blockquote><%= @thanks["comments"] %></blockquote>

    <p>Your ID is <%= params[:response_id] %></p>
  </form>
</div>